/* https://www.realtimecolors.com/dashboard?colors=111c1c-ddf6f8-47b2b8-d5f4f6-59548c&fonts=Noto%20Sans-Noto%20Sans */
:root[data-theme="light"] {
    --text: #111c1c;
    --background: #ddf6f8;
    --primary: #47b2b8;
    --secondary: #d5f4f6;
    --accent: #59548c;
  }
  :root[data-theme="dark"] {
    --text: #e3eeee;
    --background: #072022;
    --primary: #47b2b8;
    --secondary: #09282a;
    --accent: #7773ab;
  }
@import url('https://fonts.googleapis.com/css?family=Noto%20Sans:700|Noto%20Sans:400');

body {
  /* font-family: 'Noto Sans'; */
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  /* font-family: 'Noto Sans'; */
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}